# Set URL for your scoped packages, e.g. package with name @my-org/my-package will use this URL for download.
"@com.silencelaboratories:registry"="https://gitlab.com/api/v4/packages/npm/"

# Add the token for the scoped packages URL. This will allow you to download.
# Make sure you replace ${GITLAB_AUTH_TOKEN} with the personal access token copied earlier or create a local environment variable (this is recommended) named GITLAB_AUTH_TOKEN with the token copied earlier as the value.
"//gitlab.com/api/v4/packages/npm/:_authToken"="ULQ2YaJpbpt58fpy-rzJ"


# Add token for uploading to the registry.
# NOTE: Currently, the project id is XXXXXX. If this changes, you will need to adjust this accordingly.
"//gitlab.com/api/v4/projects/38505217/packages/npm/:_authToken"="ULQ2YaJpbpt58fpy-rzJ"